html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 16px;
	overflow: hidden;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Segoe UI', Arial;
	background: url('/n.gif') no-repeat;
	background-attachment: fixed;
}

.cell {cursor: pointer;margin: 0;padding: 0;overflow: hidden;background: url(img/spacer.gif)}

.tab {clear: both;}

.cell:hover {background: green}

.block-center {display: inline-block;padding-left: 50px;padding-top: 50px;vertical-align: middle}

.pic-center {border: 1px solid #ABADB3;padding: 10px;max-width: 450px}

.left {width: 30px;height: 30px;}

.shadow {
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.2);
}

.ie-inline {
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.autoH {
	height:auto !important;
	border: 0px;
}
